* {
  margin: 0;
  padding: 0;
}
.container {
  background: linear-gradient(to right, #0062e6, #33aeff);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 10px;
  justify-items: center;
}
.card {
  margin: 60px 0px;
  border-radius: 15px;
  width: 28rem;
  background-color: whitesmoke;
}
.card:hover{
  transform: scale(1.02);

  cursor: pointer;
}
.cardHead {
  text-align: center;
}
.cardPrice{
  padding:20px 0px;
}
.free {
  font-size: 1.5rem;
  font-weight: lighter;
}
.plus {
  font-size: 1.5rem;
  font-weight: lighter;
}
.pro {
  font-size: 1.5rem;
  font-weight: lighter;
}
.button {
text-align: center;
padding:20px 0px;
}
.duration {
  font-size: 15px;
}
hr {
  width:90%;
  margin-left: auto;
  margin-right: auto;
}


  
li{
  padding:5px;
}